!!! 5
%html
  %head
    %title test title
    %link{:rel => :stylesheet, :type => :"text/css", :href => "https://unpkg.com/basscss@8.0.2/css/basscss.min.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "./style.css"}
  %body
    %header
      .hamburger icon
      .logo logo
      .airoplane airo
      %nav.display-none

    %section.hero
      %h1.hero-text Choose your fabric, find your fit. Outdoor furniture designed for you.

    %section.my-story
      .container.clearfix
        .sm-col.sm-col-6
          %img.image-one(src="http://placehold.it/595x425")
        .sm-col.sm-col-6
          %div.text
            %p.large-text As a young child I remember walking into people’s homes and wondering why objects were placed where they were. I was curious about why some people had interesting homes with objects of beauty, while others seemed not to care quite as much.
            %a.small-text My story —

      .container
        .sm-col.sm-col-4
          %div.text
            %p.large-text Living in Australia, we have a very relaxed aesthetic and the lines between inside and outside our homes have never been more blurred.
            %a.small-text About Outside Envy —
        .sm-col.sm-col-8
          %img.image(src="http://placehold.it/815x576")

    %section.our-products
      .container
        .header
        .view-all
        .carousel
          %article.product
            %img
            %p Buckley Range - 2 Seater Lounge
          %article.product
            %img
            %p Buckley Range - 3 Seater Lounge
          %article.product
            %img
            %p Buckley Range - 4 Seater Lounge

    %section.subscribe
      .container
        %span Subscribte to our newsletter
        %input.email Email
        %input.name Name
        %a.submit Submit

    %section.news-and-updates
      %h2 News & Updates
      %p All things Outside Envy

    %footer
      .container
        %article
          %img
        %article
          %h3
          %ul
            %li Melissa Smythe
            %li (03) 94172139
            %li +61433979250
            %li melissa@outsideenvy.com.au
        %article
          %h3
          %ul
            %li Melissa Smythe
            %li (03) 94172139
            %li +61433979250
            %li melissa@outsideenvy.com.au
        %article
          %h3
          %ul
            %li Melissa Smythe
            %li (03) 94172139
            %li +61433979250
            %li melissa@outsideenvy.com.au









